*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    left:50%;
    right:auto;
    top:auto;
    bottom:5%;
    margin-left: -13.5px;
    transform:rotateZ(-90deg);
    width: 17px;
    background-size:contain;
    animation: buttonnext 2s infinite;
}
@keyframes buttonnext {
    from{
        bottom:3%;
        opacity:1;
    }
    to{
        bottom:6%;
        opacity:0;
    }
}
.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    background-image: url(../img/bj.png);
    background-size:contain;
    position: relative;
    width: 100%;
    height: 100%;


    background: url(../img/bj.png) center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}
#mp3btn{
    position:absolute;
    top:5%;
    right:5%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background:rgba(0,0,0,0.5);
    border-radius: 50%;
    border:4px solid #292929;
    text-align:center;
    line-height:28px;
    cursor:pointer;
    transform:rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes mp3key {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
#mp3btn img{
    width: 10px;
    height: 15px;
}



.s1 img{
    width:90%;
    position: absolute;
}
.s1 img:nth-of-type(1){
    top: 30%;
    right:75%;
    margin-right: -65%;
    transform: rotate(-90deg);
}
.s1 img:nth-of-type(2){
    top: 31%;
    right: 74%;
    margin-right: -73%;
    transform: rotate(-90deg);
    z-index: 99999;
}
.s1 img:nth-of-type(3){
    width: 50%;
    top: 18%;
    left: 34%;
}
.s1 img:nth-of-type(4){
    width: 50%;
    top: 61%;
    left: 32%;
}
.s1 img:nth-of-type(5){
    width:20%;
    top: 48%;
    left: 37%;
}
.s1 .footer{
    width: 100%;
    position: absolute;
    bottom: 5%;
    font-weight:bold;
    color: #e70012;
    margin:auto;
}

